@font-face {
  font-family: "IranSans";
  font-display: swap;
  src: local("IranSans"), url("IRANSansXFaNum-Bold.woff2") format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: "IranSans";
  font-display: swap;
  src: local("IranSans"), url("IRANSansXFaNum-DemiBold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "IranSans";
  font-display: swap;
  src: local("IranSans"), url("IRANSansXFaNum-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "IranSans";
  font-display: swap;
  src: local("IranSans"), url("IRANSansXFaNum-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "IranSans";
  font-display: swap;
  src: local("IranSans"), url("IRANSansXFaNum-Light.woff2") format("woff2");
  font-weight: 300;
}
